.wrap{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 1200px;
    margin-left: 380px;
    /*width: 100vw;*/
}

.container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.loaderContainer{
    display: flex;
    justify-content: center;
    margin: 150px ;
}

.carouselContainer{
    display: flex;
}

.pagination{
    align-self: start;
}


/*@media screen and (max-width: 600px){*/
/*    .container{*/
/*        !*border: 2px solid greenyellow;*!*/
/*        width: 100vw;*/
/*        margin-left: 0;*/
/*        justify-content: center;*/
/*        height: 100%;*/
/*        gap:30px;*/
/*    }*/

/*    .carouselContainer{*/
/*        width: 100vw;*/
/*    }*/

/*    .wrap{*/
/*        align-items: center;*/
/*    }*/
/*}*/

