.wrap,.lightWrap{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 67%;
    margin-left: 380px;
    background: #1d1d1d;
    transition: 0.3s;
}

.lightWrap{
    background: gray;
    transition: 0.3s;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.loaderContainer{
    display: flex;
    justify-content: center;
    margin: 150px ;
}

.carouselContainer{
    display: flex;
}

.pagination{
    padding-top: 40px;
}

    .wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

@media screen and (max-width: 600px){
    .wrap,.lightWrap{
        margin-left: 0;
        width: 100vw;
        align-items: center;
    }

    .container{
        width: 50%;
        height: 100%;
        gap:10px;
        justify-content: center;
    }

    .pagination{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

