.container{
    background: orange;
    margin: 8px 8px 8px 380px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 10px;
}

/*@media screen and (max-width: 600px){*/
/*    .container {*/
/*        margin-left: 0;*/
/*    }*/
/*}*/