.containerForGenre {
    display: flex;
    flex-direction: column;
    padding: 20px ;
    gap: 5px;
}

.containerForGenre h3{
    width: 120px;
    text-align: center;
    color: orange;
    border-bottom:2px solid orange;
    margin-bottom: 5px;
}