.containerForGenre {
    display: flex;
    flex-direction: column;
    padding: 10px ;
    gap: 2px;
}

.containerForGenre h3{
    width: 120px;
    text-align: center;
    color: orange;
    border-bottom:2px solid orange;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .containerForGenre {
       padding: 0;
    }
}
