.box,.lightBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #353535;
    color: #d6d6d6;
    width: 120px;
    font-size: 15px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.box:hover,.lightBox:hover{
    width: 122px;
}

.lightBox{
    color: #1d1d1d;
    background: white;
}

a[class='Genre_box__8vs2P active'] {
    background: orange;
    transition: 0.1s;
    color: #1d1d1d;
}

a[class='Genre_lightBox__ohalM active']{
    background: orange;
    transition: 0.1s;
    color: #1d1d1d;
}