.header,.lightHeader{
    margin-top: 50px;
    width: 886px;
    background: #323232;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    flex-wrap: wrap;
    position: relative;
    transition: 0.3s;
    border-bottom: 2px solid orange;
}

.img{
    width: 150px;
}

.lightHeader{
    background: white;
    transition: 0.3s;
}

.containerForGenre{
    display: flex;
    flex-direction: column;
    padding: 20px ;
    gap: 5px;
    position: absolute;
    z-index: 1;
    left:-160px;
    bottom: -496.7px;

}

.containerForGenre h3{
    width: 118px;
    text-align: center;
    color: orange;
    border-bottom:2px solid orange;
}