.header,.lightHeader{
    margin-top: 50px;
    width: 886px;
    background: #323232;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    flex-wrap: wrap;
    position: relative;
    transition: 0.3s;
    border-bottom: 2px solid orange;
}

.imgBox{
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 150px;
    cursor: pointer;
    transition: 0.2s;
}

.img:hover{
    width: 152px;
    transition: 0.2s;
}

.lightHeader{
    background: white;
    transition: 0.3s;
}

@media screen and (max-width: 600px){

    .header,.lightHeader{
        width: 100vw;
        margin-top: 0;
        flex-direction: column;
    }

}


