.header,.lightHeader{
    width: 270px;
    background: #323232;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s;
    border-bottom: 2px solid orange;
    height: 100vh;
    position: fixed;
    z-index: 3;
}

.imgBox{
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 150px;
    cursor: pointer;
    transition: 0.2s;
}

.img:hover{
    width: 152px;
    transition: 0.2s;
}

.lightHeader{
    background: white;
    transition: 0.3s;
}




