.poster{
    width: 300px;
    height: 445px;
    cursor: pointer;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.posterModal{
    width: 530px;
    height: 675px;
}