.footer{
    color: white;
    /*width: 1700px;*/
    width: 1200px;
    height: 200px;
    /*border-top: 2px solid orange;*/
    display: flex;
    align-items: center;
    margin-left: 380px;
    /*border: 2px solid red;*/
    background: #1d1d1d;
}

.box{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.box p {
    border-right: 1px solid white;
    padding-right: 5px;
}

.footer img {
    width: 40px;
}

/*@media screen and (max-width: 600px){*/

/*    .box{*/
/*        margin-left: 110px;*/
/*    }*/

/*    .footer{*/
/*        width: 100vw;*/
/*    }*/
/*}*/