.footer,.lightFooter{
    color: white;
    width: 100vw;
    height: 200px;
    /*border-top: 2px solid orange;*/
    display: flex;
    align-items: center;
    background: #1d1d1d;
    transition: 0.3s;
}

.lightFooter{
    background: grey;
    transition: 0.3s;
}

.box{
    display: flex;
    align-items: center;
    margin-left: 385px;
}

.box p {
    border-right: 1px solid white;
    padding-right: 5px;
}

.footer img ,.lightFooter img{
    width: 40px;
}

@media screen and (max-width: 600px){

    .footer,.lightFooter{
        margin-left: 0;
        /*width: 100%;*/
    }

    .box{
        margin-left: 110px;
    }

}