.box button{
    box-sizing: border-box;
    background: black;
    color: white;
    width: 110px;
    border: 1px solid white;
    height: 25px;
    border-radius: 8px;
    cursor: pointer;
}

.lightBox button{
    box-sizing: border-box;
    height: 25px;
    background: white;
    color: #1d1d1d;
    width: 110px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}