.wrap,.lightWrap{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 1200px;
    margin-left: 380px;
    background: #1d1d1d;
    transition: 0.3s;
}

.lightWrap{
    background: gray;
    transition: 0.3s;
}

.container{
    /*width: 1200px;*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.loaderContainer{
    display: flex;
    justify-content: center;
    margin: 150px ;
}

.carouselContainer{
    display: flex;
}

.pagination{
    align-self: start;
}

@media screen and (max-width: 600px){
    .wrap,.lightWrap{
        margin-left: 0;
        width: 100vw;
    }

    .container{
        width: 50%;
        height: 100%;
        gap:10px;
        justify-content: center;
    }

    .wrap{
        align-items: center;
    }

    .wrapper {
        display: flex;
        justify-content: center;
    }
}


